body {
    background-color: #000;
}
.header {
    &1 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: yellowgreen;
        color: #343b3d;
    }
    }
    &2 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: orange;
        color: #343b3d;
    }
    }
    &3 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #3b1702;
        color: #ffffff;
    }
    }
    &4 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #fffd40;
        color: #000000;
    }
    }
    &5 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #84490f;
        color: #000000;
    }
    }
    &6 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #3a7d18;
        color: #000000;
    }
    }
    &7 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #c7343f;
        color: #000000;
    }
    }
    &8 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #e7a767;
        color: #000000;
    }
    }
    &9 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #e8571b;
        color: #000000;
    }
    }
    &10 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #f0deb6;
        color: #000000;
    }
    }
    &11 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #d03113;
        color: #000000;
    }
    }
    &12 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #aa7b5b;
        color: #000000;
    }
    }
    &13 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: #00ccff;
        color: #000000;
    }
    }
    &14 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: royalblue;
        color: #000000;
    }
    }
    &15 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: none;
    background-image: url("./fond-texture-planche-bois-noir_53876-138962.jpg");
    background-attachment: fixed;
    color: #fff;
    border-radius: 20px;
    bottom: 20px;
    align-self: center;
    margin-bottom: 20px;
    transition: 1s;
    &:hover {
        transition: 1s;
        background-image: none;
        background-color: rgb(255, 17, 0);
        color: #000000;
    }
    }
}
.flex {
    &1 {
    background-color: yellowgreen;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
        transform: scale(1.1);
        }
    }
    &2 {
    background-color: orange;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &3 {
    background-color: #3b1702;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &4 {
    background-color: #fffd40;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &5 {
    background-color: #84490f;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &6 {
    background-color: #3a7d18;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &7 {
    background-color: #c7343f;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &8 {
    background-color: #e7a767;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &9 {
    background-color: #e8571b;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &10 {
    background-color: #f0deb6;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &11 {
    background-color: #d03113;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &12 {
    background-color: #aa7b5b;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &13 {
    background-color: #00ccff;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &14 {
    background-color: royalblue;
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &15 {
    background-color: rgb(255, 17, 0);
    color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}
#img {
    border-radius: 7px;
}
#divimage {
    width: 310px;
    height: 520px;
    margin: 40px;
}
#diving {
    width: 310px;
    height: 310px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
}
#divasso {
    width: 310px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
#section {
    &1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &10 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &11 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &13 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &14 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    &15 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    }
    }
.titre {
    align-self: center;
    justify-self: center;
}
#divimagecaf {
   width: 310px;
    height: 640px;
    margin-right: 40px; 
    align-self: center;
}
.img {
    margin: 20px;
}
#prenom {
    padding: 8px;
    background-color: #23292b;
    border-style: solid;
    border-radius: 7px;
        display: flex;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.commander {
    padding: 5px;
    background-color: #767676;
    color: #23292b;
    border-style: solid;
    border-color: #23292b;
    border-radius: 6px ;
    transition: 1s;
    display: flex;
    align-self: center;
    justify-self: center;
    margin: 3px;
    &:hover {
        background-color: #fff;
        transform: translateY(2px);
    }
}