.nav {
    background-color: rgb(120, 168, 180);
    height: 200px;
    width: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.imagenav {
    height: 100px;
}
.titrenav {
    color: rgb(0, 0, 0);
}
#navs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.nav:hover {
    width: 300px;
    height: 300px;
}
.txt {
    opacity: 0;
    transition: 1s;
}

.nav:hover .txt {
    opacity: 1;
}
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #343b3d;
    color: #739da5;
    border-radius: 20px;
    bottom: 20px;
    transition: 1s;
}
.titre {
    font-size: xx-large;
}
.header:hover {
    background-color: #739da5;
    color: #343b3d;

}
#Fuel:hover {
    background-color: yellowgreen;
}
#VO:hover {
    background-color: orange;
}
#Guinness:hover {
    background-color: rgb(65, 20, 0);
    color: white;
}
#Bambou:hover {
    background-color: yellow;
}
#Whiskas:hover {
    background-color: rgb(143, 69, 0);
}
#Mojito:hover {
    background-color: green;
}
#Monaco:hover {
    background-color: crimson;
}
#Enter_Sandman:hover {
    background-color: sandybrown;
}
#Reload:hover {
    background-color: orangered;
}
#Guinness2 {
    color: black;
    transition: 1s;
}
#Guinness:hover #Guinness2 {
    color: white;
}
#nothing_else_matters:hover {
    background-color: wheat;
}