@media all and (min-width: 600px) {
    .navs {
        width: 400px;
    }
    #cafes:hover {
        width: 600px;
        height: 300px;
        background-color:#aa7b5b;
    }
    .nav:hover {
        width: 600px;
        height: 300px;
    }
}
@media all and (max-width: 755px) {
    #section12 {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
    }
    #divimagecaf {
        margin-bottom: 20px;
        align-self: center;
    }
    #divimagecaf:hover {
        margin-bottom: 37px;
    }

}