@media all and (min-width: 600px) {
    .navs {
        width: 400px;
    }
    #cafes:hover {
        width: 600px;
        height: 300px;
        background-color:#aa7b5b;
    }
    .nav:hover {
        width: 600px;
        height: 300px;
    }
}